$editor: mud-editor;
$toolbar: #{$editor}-toolbar;
$list: #{$toolbar}-list;
$menu: #{$toolbar}-menu;

.#{$editor} .#{$editor}-wrapper {
    @import 'quill-css';
    height: 100%;

    .#{$editor}-popover {
        background-color: red;
    }

    .#{$toolbar} {
        .#{$list} {
            max-width: 150px;
        }

        .#{$menu} .mud-button-root, .mud-button-root {
            padding: 9px;
        }

        .mud-button-group-root .mud-button-root {
            padding: 8px 7.625px 7px;
        }

        .#{$editor}-picker {
            .mud-button-root .mud-picker-color-dot{
                max-width: 38px;
                margin: 8px;
            }
            /* .mud-picker * {
                display: none;
            }*/
        }
    }

    .#{$editor}-container {
        .ql-editor {
            @import './highlight.scss';
            height: auto;
            min-height: 100%;
        }
    }
}

.mud-popover {
    &.#{$list} {
        background-color: blue;
    }

    &.#{$menu} {
        .mud-list.mud-list-padding {
            padding: 4px 0;

            .mud-list-item-gutters {
                padding: 0 9px;

                .mud-list-item-text {
                    margin: 0;

                    .mud-icon-size-small {
                        font-size: 1.422rem;
                    }
                }
            }
        }
    }

    &.#{$editor}-picker {
        .mud-editor-picker-automatic.mud-picker-color-dot {
            max-width: 38px;
            margin: 8px;
        }
        /* .mud-picker * {
                display: none;
            }*/
    }
}
