$editor: mud-editor;
$toolbar: #{$editor}-toolbar;
$list: #{$toolbar}-list;
$menu: #{$toolbar}-menu;

.#{$editor} {
    @import 'quill-css';

    .mud-editor-popover {
        background-color: red;
    }

    .#{$toolbar} {
        .#{$list} {
            max-width: 130px;
        }

        .mud-button-root {
            padding: 8px 10.35px 10px;
        }

        .mud-editor-picker {
            .mud-picker * {
                display: none;
            }
        }
    }

    .mud-editor-container {
        min-height: 42px;

        .ql-editor {
            @import './highlight.scss';
            flex-grow: 1;
            overflow: visible;
        }
    }
}

.mud-popover {
    &.#{$list} {
        background-color: blue;
    }

    &.#{$menu} {
        .mud-list.mud-list-padding {
            padding: 4px 0;

            .mud-list-item-gutters {
                padding: 0 9px;

                .mud-list-item-text {
                    margin: 0;

                    .mud-icon-size-small {
                        font-size: 1.422rem;
                    }
                }
            }
        }
    }
}
